@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editar Aluno";
}

@* @model teste_api.Models.Entites.Aluno *@
@model teste_api.Models.ComposedModel

<h1>Editar Aluno</h1>

@if (Model is null)
{
    <p>Estudante não encontrado para este ID</p>
}
else {
<form method="post">

    <div class="mt-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Aluno.Id" readonly />
    </div>

    <div class="mt-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Aluno.Nome" />
    </div>

    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Aluno.Email" />
    </div>

    <div class="mt-3">
        <label class="form-label">Telefone</label>
        <input type="number" class="form-control" asp-for="Aluno.Telefone" />
    </div>

    <div class="mt-3">
        <label class="form-label">Matérias para o aluno:</label><br>
        @if (Model.AddAlunoViewModel.CheckBoxes is not null)
        {                
            @foreach (var checkbox in Model.AddAlunoViewModel.CheckBoxes)
            {
                <div class="form-check">
                    <input class="form-check-input"
                            type="checkbox"
                            value="@checkbox.Value"
                            name="NomeUnico"
                            id="checkbox_@checkbox.Value"
                            checked="@checkbox.IsChecked" />
                    <label class="form-check-label" for="checkbox_@checkbox.Value">
                        @checkbox.Description
                    </label>
                </div>
            }
        }
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="submit" class="btn btn-danger ms-3" asp-action="DeletarAluno" asp-controller="Alunos">Deletar</button>
    </div>

</form>
}